.icon-and-text-link {
  display: block;
  text-decoration: none;
  &__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--space-1);
  }
  &__text {
    position: relative;
    text-align: center;
  }
}
