$text: (
  'h1': (
    'mobile': (
      'font-weight': 800,
      'font-size': 40px,
      'line-height': 48px
    ),
    'tablet': (
      'font-weight': 800,
      'font-size': 48px,
      'line-height': 56px
    ),
    'desktop': (
      'font-weight': 800,
      'font-size': 56px,
      'line-height': 62px
    )
  ),
  'h2': (
    'mobile': (
      'font-weight': 800,
      'font-size': 32px,
      'line-height': 40px
    ),
    'tablet': (
      'font-weight': 800,
      'font-size': 40px,
      'line-height': 48px
    ),
    'desktop': (
      'font-weight': 800,
      'font-size': 48px,
      'line-height': 56px
    )
  ),
  'h3': (
    'mobile': (
      'font-weight': 800,
      'font-size': 24px,
      'line-height': 28px
    ),
    'tablet': (
      'font-weight': 800,
      'font-size': 32px,
      'line-height': 40px
    ),
    'desktop': (
      'font-weight': 800,
      'font-size': 40px,
      'line-height': 48px
    )
  ),
  'subtitle1': (
    'mobile': (
      'font-weight': 700,
      'font-size': 20px,
      'line-height': 24px
    ),
    'tablet': (
      'font-weight': 700,
      'font-size': 24px,
      'line-height': 28px
    ),
    'desktop': (
      'font-weight': 700,
      'font-size': 32px,
      'line-height': 36px
    )
  ),
  'subtitle2': (
    'mobile': (
      'font-weight': 700,
      'font-size': 16px,
      'line-height': 20px
    ),
    'tablet': (
      'font-weight': 700,
      'font-size': 20px,
      'line-height': 24px
    ),
    'desktop': (
      'font-weight': 700,
      'font-size': 24px,
      'line-height': 28px
    )
  ),
  'text': (
    'xxs': (
      'font-weight': 400,
      'font-size': 10px,
      'line-height': 14px
    ),
    'xs': (
      'font-weight': 400,
      'font-size': 12px,
      'line-height': 16px
    ),
    'xs-semibold': (
      'font-weight': 500,
      'font-size': 12px,
      'line-height': 16px
    ),
    's': (
      'font-weight': 400,
      'font-size': 14px,
      'line-height': 18px
    ),
    's-semibold': (
      'font-weight': 500,
      'font-size': 14px,
      'line-height': 18px
    ),
    'm': (
      'font-weight': 400,
      'font-size': 16px,
      'line-height': 20px
    ),
    'm-semibold': (
      'font-weight': 500,
      'font-size': 16px,
      'line-height': 20px
    ),
    'l': (
      'font-weight': 400,
      'font-size': 18px,
      'line-height': 24px
    ),
    'l-semibold': (
      'font-weight': 500,
      'font-size': 18px,
      'line-height': 24px
    )
  ),
  'btn': (
    's': (
      'font-weight': 700,
      'font-size': 14px,
      'line-height': 20px,
      'letter-spacing': 0.02em
    ),
    'm': (
      'font-weight': 700,
      'font-size': 16px,
      'line-height': 24px,
      'letter-spacing': 0.02em
    ),
    'l': (
      'font-weight': 700,
      'font-size': 18px,
      'line-height': 24px,
      'letter-spacing': 0.02em
    )
  ),
  'link': (
    's': (
      'font-weight': 400,
      'font-size': 14px,
      'line-height': 18px
    ),
    'm': (
      'font-weight': 400,
      'font-size': 16px,
      'line-height': 20px
    )
  )
);
